altair 
anyio
attrs
blinker
cachetools
certifi
charset-normalizer
click
colorama
docopt
gitdb
GitPython
h11
httptools
idna
itsdangerous
Jinja2
joblib
jsonschema
jsonschema-specifications
MarkupSafe
narwhals
numpy
packaging
pandas
pillow
pip
pipreqs
protobuf
pyarrow
pydeck
python-dateutil
python-multipart
referencing
requests
rpds-py
six
smmap
starlette
streamlit
scikit-learn
tenacity
toml
typing_extensions
tzdata
urllib3
uvicorn
watchdog
websockets
yarg